html, body {
  /* background-color: #E9F7EF; */
}

.portfolio-color-theme {
  background-color: #E9F7EF;
}

.portfolio-description-text {
  font-size: 20px;
  color: #7B7D7D;
}

.portfolio-nav-link {
  text-decoration: none;
  color: black;
}

.center-align {
  text-align: center;
}

.project-card-image {
  object-fit: cover;
  float: left;
  width: 100%;
  height: 100%;
}

.card-equal-height {
  height: 100%;
  border-radius: 10px;
  background-color: #EDEDED;
  box-shadow: 1px 2px #C4C4C4;
}

/* html, body {
  background: url('../background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
} */
