.App {
  text-align: center;
}

html, body {
  background: url('../background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  /*background-color: rgb(85, 170, 170);*/
}
